.ourLocationSection {
    position: relative;
    padding: 80px 20px;
    background-color: #ffffff;
    overflow: hidden;
}

.ourLocationBackground {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1440px;
    height: 100%;
    z-index: 1;
}

.backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ourLocationContainer {
    position: relative;
    max-width: 1240px;
    margin: 0 auto;
    z-index: 2;
}

.locationCard {
    background: #ffffff;
    border-radius: 12px;
    padding-top: 64px;
    padding-right: 56px;
    padding-bottom: 64px;
    padding-left: 56px;
    max-width: 480px;
    box-shadow: 0px 0px 25px 0px #0000001A;
}

.locationTitle {
    font-family: "THICCCBOI";
    font-weight: 700;
    font-size: 50px;
    line-height: 76px;
    letter-spacing: 0px;
    margin: 0 0 16px 0;
    color: #070707;
}

.locationDescription {
    font-family: "THICCCBOI";
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #070707;
    max-width: 480px;
    opacity: 0.7;
    margin: 0 0 48px 0;
}

.locationList {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.locationItem {
    display: flex;
    align-items: flex-start;
    gap: 19px;
}

.locationIcon {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
}

.locationText {
    font-family: "THICCCBOI";
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #070707;
}

.locationText p {
    margin: 0;
}

@media (max-width: 768px) {
    .ourLocationSection {
        padding: 40px 10px;
    }

    .locationCard {
        padding: 32px 24px;
        max-width: 60%;
    }

    .locationTitle {
        font-size: 36px;
        line-height: 54px;
    }

    .locationDescription {
        font-size: 16px;
        max-width: 100%;
        margin-bottom: 32px;
    }

    .locationIcon {
        width: 28px;
        height: 28px;
        margin-top: 4px;
    }

    .locationText {
        font-size: 16px;
        line-height: 150%;
    }
}