.popularSection {
    padding-bottom: 120px;
}

.popularContainer {
    max-width: 1240px;
    margin: 0 auto;
}

.titleText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
}

.title {
    font-family: "THICCCBOI";
    font-weight: 700;
    font-style: Bold;
    font-size: 70px;
    line-height: 125%;
    letter-spacing: 0%;
    color: #070707;
    margin: 0;
}

.explore {
    font-family: "THICCCBOI";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #070707;
    text-decoration: none;
    transition: color 0.3s ease;
}

.explore:hover {
    color: #F15A29;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.card {
    border-radius: 4px;
    overflow: hidden;
    padding-bottom: 20px;
    text-decoration: none;
    color: #070707;
    transition: box-shadow 0.5s ease;
    max-height: 710px;
}

.cardShift {
    margin-top: 130px;
}

.img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.line {
    width: 140px;
    height: 3px;
    background: #070707;
    margin: 48px 0;
}

.price {
    font-family: "THICCCBOI";
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #070707;
    margin: 0 auto;
}

.location {
    font-family: "THICCCBOI";
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #070707;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    border-top: 1px solid #E0E0E0;
    padding-top: 32px;
}

.detailBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: "THICCCBOI";
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #070707;
    padding: 6px 5px;
    width: 180px;
    border-radius: 6px;
    background: #F3F3F3;
}

.icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        gap: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .titleText {
        padding-left: 20px;
    }
    .explore {
        display: none;
    }
    .cardShift {
        margin-top: 10px;
    }
    .detailBox {
        width: 31%
    }
}