.trustedBySection {
    width: 100%;
    background-color: #ffffff;
    padding-top: 120px;
}

.trustedByContainer {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 172px;
    box-sizing: border-box;
}

.trustedByBorder {
    max-width: 1240px;
    height: 1px;
    background-color: #E0E0E0;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 120px;
}

.trustedByTitle {
    font-family: "THICCCBOI";
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #070707;
    margin: 0;
    white-space: nowrap;
}

.trustedByLogos {
    display: flex;
    align-items: center;
    gap: 64px;
    flex-wrap: wrap;
    flex: 1;
}
.logoLink {
    display: inline-block;
    text-decoration: none;
}

.trustedLogo {
    height: 32px;
    width: auto;
    object-fit: contain;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.trustedLogo:hover {
    opacity: 1;
}

