.section {
    padding-top: 66px;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.title {
    font-family: "THICCCBOI";
    font-weight: 700;
    font-size: 70px;
    line-height: 115.99999999999999%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: #070707;
    text-align: center;
    margin: 0 0 40px 0;
}

.text {
    font-family: "THICCCBOI";
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    color: #070707;
    text-align: center;
    margin: 0 0 40px 0;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 80px;
}

.btnOrange {
    padding: 16px 32px;
    background: #F15A29;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
    font-family: "THICCCBOI";
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btnOrange:hover {
    background: #d64d20;
}

.btnWhite {
    padding: 16px 32px;
    background: #FFFFFF;
    color: #070707;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-family: "THICCCBOI";
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.btnWhite:hover {
    border-color: #070707;
}

.filters {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 20px;
    background: #F3F3F3;
    padding: 24px;
    border-radius: 12px;
    margin-bottom: 120px;
}

.inputGroup {
    display: flex;
    gap: 12px;
}

.inputBox {
    display: flex;
    align-items: center;
    gap: 12px;
    background: #FFFFFF;
    padding: 12px 16px;
    border-radius: 4px;
    flex: 1;
}

.icon {
    width: 20px;
    height: 20px;
    color: #070707;
    flex-shrink: 0;
}

.input {
    border: none;
    outline: none;
    font-family: "THICCCBOI";
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0%;
    width: 100%;
    background: transparent;
}

.searchBtn {
    padding: 12px 24px;
    background: #070707;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-family: "THICCCBOI";
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1%;
    cursor: pointer;
    white-space: nowrap;
    transition: background 0.3s ease;
}

.searchBtn:hover {
    background: #2a2a2a;
}

.selectGroup {
    display: flex;
    align-items: center;
    gap: 12px;
    background: #FFFFFF;
    padding: 12px 16px;
    border-radius: 4px;
}

.select {
    border: none;
    outline: none;
    font-family: "THICCCBOI";
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    width: 100%;
    background: transparent;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.card {
    border-radius: 4px;
    overflow: hidden;
    padding-bottom: 20px;
    text-decoration: none;
    color: #070707;
    transition: box-shadow 0.5s ease;
    max-height: 710px;
}


.cardShift {
    margin-top: 130px;
}

.img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.line {
    width: 140px;
    height: 3px;
    background: #070707;
    margin: 48px 0;
}

.price {
    font-family: "THICCCBOI";
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    color: #070707;
    margin: 0 0 16px 0;
}

.location {
    font-family: "THICCCBOI";
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #070707;
    margin: 0;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    border-top: 2px solid #070707;
    padding-top: 32px;
}

.detailBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: "THICCCBOI";
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #070707;
    padding: 6px 5px;
    width: 180px;
    border-radius: 6px;
    background: #F3F3F3;
}

.detailIcon {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .filters {
        grid-template-columns: 1fr;
        gap: 12px;
        padding: 20px;
        margin-bottom: 40px;
    }

    .inputGroup {
        gap: 10px;
    }

    .inputBox {
        display: flex;
        align-items: center;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px 18px;
        width: 95%;
    
    }

    .icon {
        width: 18px;
        height: 18px;
    }

    .input {
        font-size: 15px;
    }

    .searchBtn {
        width: 30%;
        box-sizing: border-box;
        padding: 20px 10px;
    }

    .selectGroup {
        padding: 14px 16px;
        border-radius: 8px;
    }

    .select {
        font-size: 15px;
    }
}