* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
  margin: 0;
    padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

main {
    background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
    font-family: 'THICCCBOI';
    src: url('./assets/fonts/THICCCBOI-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'THICCCBOI';
    src: url('./assets/fonts/THICCCBOI-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'THICCCBOI';
    src: url('./assets/fonts/THICCCBOI-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'THICCCBOI';
    src: url('./assets/fonts/THICCCBOI-Bold.ttf') format('truetype');
    font-weight: 700;
}
@media (max-width: 768px) {
    * {
        box-sizing: border-box;
    }
    
    body {
        overflow-x: hidden;
        width: 100%;
    }
    .container,
    section,
    div {
        max-width: 100%;
        overflow-x: hidden;
    }
}
