.subscribeSection {
    background-color: #ffffff;
    padding: 66px 20px;
}

.subscribeContainer {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.subscribeContent {
    flex: 1;
    max-width: 560px;
}

.subscribeTitle {
    font-family: "THICCCBOI";
    font-weight: 700;
    font-style: Bold;
    font-size: 70px;
    line-height: 115.99999999999999%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #070707;
    margin: 0 0 24px 0;
}

.subscribeDescription {
    font-family: "THICCCBOI";
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #070707;
    opacity: 0.7;
    width: 640px;
    margin: 0 0 40px 0;
}

.subscribeForm {
    display: flex;
    gap: 16px;
    align-items: center;
    background-color: #F3F3F3;
    padding: 8px;
    border-radius: 16px;
    box-shadow: 0px 2px 12px 0px #0F086A0A;
}

.subscribeInput {
    flex: 1;
    padding: 20px 24px;
    font-family: "THICCCBOI";
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;
    background-color: transparent;
    border: none;
    outline: none;
}

.subscribeInput::placeholder {
    color: #070707;
    opacity: 0.5;
}

.subscribeButton {
    background: #F15A29;
    color: #F3F3F3;
    border: none;
    border-radius: 12px;
    padding: 20px 32px;
    font-family: "THICCCBOI";
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s ease;
    white-space: nowrap;
}

.subscribeButton:hover {
    background: #D84A1F;
}

.subscribeImage {
    flex: 1;
    width: 520px;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribeImage img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 768px) {
    .subscribeContainer {
        flex-direction: column;
        text-align: center;
    }
    .subscribeContent {
        max-width: 100%;
    }
    .subscribeTitle {
        font-size: 50px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .subscribeDescription {
        width: 100%;
        margin-bottom: 30px;
    }
    .subscribeForm {
        background-color: #ffffff;
        flex-direction: column;
        gap: 16px;
        width: 90%;
        margin: 0 auto;
    }
    .subscribeInput {
        background-color: #F3F3F3;
        width: 100%;
        border-radius: 12px;
    }
    .subscribeButton {
        width: 100%;
    }
    .subscribeImage {
        width: 100%;
        height: auto;
        margin-top: 40px;
    }
}